/*
    TABLE OF CONTENT
# Normalize
# Basic
# Container
# Search
# Map
# Media Queries
*/

@import "scss/variables";

/*-------------------------
# Normalize
--------------------------*/
@import "scss/normalize";

/*-------------------------
# Basic
--------------------------*/
body {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 1;
}

/*-------------------------
# Container
--------------------------*/
.app {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 30px 15px;

  &__title {
    margin-bottom: 35px;
    text-align: center;
    font-size: 32px;
    font-weight: 500;
    color: $mainText;
  }
}

/*-------------------------
# Search
--------------------------*/
@import "../components/Search/_Search";

/*-------------------------
# Map
--------------------------*/
@import "../components/Map/_Map";