/*
    TABLE OF CONTENT
# Normalize
# Basic
# Container
# Search
# Map
# Current Location
# Location List
*/

@import "scss/variables";

/*-------------------------
# Normalize
--------------------------*/
@import "scss/normalize";

/*-------------------------
# Basic
--------------------------*/
body {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 1;
}

::-moz-selection {
  color: $white;
  background: $mainText;
}

::selection {
  color: $white;
  background: $mainText
}

/*-------------------------
# Container
--------------------------*/
.app {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 30px 15px;

  &__title {
    margin: 0 0 $sectionMarginBottom 0;
    text-align: center;
    font-size: 32px;
    font-weight: 500;
    color: $mainText;
  }
}

/*-------------------------
# Search
--------------------------*/
@import "../components/Search/_Search";

/*-------------------------
# Map
--------------------------*/
@import "../components/Map/_Map";

/*-------------------------
# Current Location
--------------------------*/
@import "../components/CurrentLocation/_CurrentLocation";

/*-------------------------
# Location List
--------------------------*/
@import "../components/LocationList/_LocationList";