@import "../../styles/scss/variables";
@import "../../styles/scss/mixins";

.saved-locations {
  margin-bottom: $sectionMarginBottom;

  &__title {
    margin: 0;
    border: 1px solid $locationsBorder;
    border-radius: 7px 7px 0 0;
    padding: 15px 0;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    color: $white;
    background: $mainText;
  }

  &__no-locations {
    margin: 0;
    border: 1px solid $locationsBorder;
    border-top: none;
    border-radius: 0 0 7px 7px;
    padding: 20px 0;
    text-align: center;
    font-size: 15px;
    color: $mainText;
    background: $locationsBackground;
  }

  &__list {
    margin: 0 0 20px 0;
    padding: 0;
    list-style: none;

    &--item {
      $locationItem: &;

      position: relative;
      border: 1px solid $locationsBorder;
      border-top: none;
      padding: 20px 35px 20px 20px;
      font-size: 15px;
      color: $mainText;
      background: $locationsBackground;
      @include transition('.3s', 'all', 'ease');

      &:last-child {
        border-radius: 0 0 7px 7px;
      }

      &:hover {
        background: $mainText;
        color: $white;
        cursor: pointer;

        #{$locationItem}__icon {
          right: 7px;
          background-color: $white;
        }
      }

      &__icon {
        position: absolute;
        top: 15px;
        right: 13px;
        width: 24px;
        height: 24px;
        @include background-mask('arrow--right', $mainText, contain);
        @include transition('.3s', 'all', 'ease-in-out');
      }
    }
  }

  &__more {
    display: block;
    width: 180px;
    margin: 0 auto;
    border: 2px solid $mainText;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    color: $mainText;
    background-color: transparent;
    @include transition('.3s', 'all', 'ease-in-out');

    &:hover {
      color: $white;
      background-color: $mainText;
      cursor: pointer;
    }
  }
}