@import "../../styles/scss/variables";
@import "../../styles/scss/mixins";

.search {
  position: relative;
  margin-bottom: $sectionMarginBottom;
  padding: 0 30px;

  &__field {
    display: block;
    width: 100%;
    border: 2px solid $searchBorder;
    border-radius: 3px;
    padding: 10px 35px 10px 10px;
    color: $mainText;
    @include transition('.3s', 'all', 'ease-in-out');

    &:focus {
      outline: none;
      border-color: $mainText;

      &::-webkit-input-placeholder {
        color: $mainText;
      }

      &::-moz-placeholder {
        color: $mainText;
      }

      &:-ms-input-placeholder {
        color: $mainText;
      }

      &:-moz-placeholder {
        color: $mainText;
      }
    }

    &::-webkit-input-placeholder {
      color: $defaultPlaceholder;
      @include transition('.3s', 'all', 'ease-in-out');
    }

    &::-moz-placeholder {
      color: $defaultPlaceholder;
      @include transition('.3s', 'all', 'ease-in-out');
    }

    &:-ms-input-placeholder {
      color: $defaultPlaceholder;
      @include transition('.3s', 'all', 'ease-in-out');
    }

    &:-moz-placeholder {
      color: $defaultPlaceholder;
      @include transition('.3s', 'all', 'ease-in-out');
    }
  }

  &__button {
    position: absolute;
    top: 6px;
    right: 36px;
    width: 28px;
    height: 28px;
    margin: 0;
    outline: none;
    border: none;
    padding: 0;
    @include background-mask('search', $mainText, contain);

    &:hover {
      cursor: pointer;
    }
  }
}